{% extends 'index.html' %}
{% block Title %}LES DEMANDES DE REINITILISATION{% endblock Title %}
{% block Page %}
<div class="resetPass">
  <div class="modal fade" id="resetPass" tabindex="-1" aria-labelledby="resetPassLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="resetPassLabel">REINITILISATION MOT DE PASSE DE <span class="teaUserName fw-bold"></span> </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <form class="" action="{% url 'validePassword' %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="id_user" value="" id="id_user">
          <input type="hidden" name="page" value="password">
          <div class="input-group input-group-lg my-4">
            <label for="id_idD" class="input-group-text">ID</label>
            <input type="text" name="username" placeholder="ID..." class="form-control" disabled id="id_idD">
          </div>
          <div class="input-group input-group-lg my-4">
            <label for="id_mdp" class="input-group-text">Password</label>
            <input type="password" name="mdp" placeholder="Password..." class="form-control" id="id_mdp">
            <button type="button" name="button" class="btn btn-dark input-group-btn gener w-100 my-3">GENERER</button>
          </div>
          <div class="input-group input-group-lg my-4">
            <label for="id_nom" class="input-group-text">Nom </label>
            <input type="text" name="nom" placeholder="Nom..." class="form-control disabled" disabled id="id_nom">
          </div>
          <div class="input-group input-group-lg my-4">
            <label for="id_prenom" class="input-group-text">Prenom </label>
            <input type="text" name="prenom" placeholder="Prenom..." class="form-control disabled" disabled id="id_prenom">
          </div>
          <div class="">
            <small class="form-text w-100 mt-2" id="RemarqueHelp"><i class="fa fa-info-circle"></i>&nbsp; Une fois Reinitialisé,le mot de passe sera envoyer au email fournit par l'enseignant lors de la formulation de la demande</small>
          </div>
          <div class="text-center my-3">
            <button type="submit" name="button" class="btn btn-success w-50 fw-bold py-2">RESET</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{%if info|length is not 0 %}
<div class="restoreMdp">
  <button type="button" name="button" class="okRestorMdpLabel d-none" data-bs-target="#restorMdp" data-bs-toggle="modal"></button>
  <div class="modal fade" id="restorMdp" tabindex="-1" aria-labelledby="restorMdpLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="restorMdpLabel"><span class="fw-bold">Demande de reinitialisation de mot de passe</span> </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <h4 class="text-dark fw-bold">{{info}}, Merci</h4>
        <a role="button" href="{% url 'passwordReset' %}" class="btn btn-primary">Cancel</a>
      </div>
    </div>
  </div>
</div>
</div>
{%endif%}
</div>
<main class="">
  <div class="w-100">
    <div class="w-50 mx-auto py-5 flag">
      <div class="bg-flag br10 p-3 text-center">
        <h3 class="m-auto fw-bold text-white">SESSION SURVEILLANT</h3>
      </div>
    </div>
    <div class="w75 br10 border-bass mx-auto my-3 p-4 overflow-hidden">
      <div class="py-5">
        <div class="bg-flag p-3 text-center">
          <h4 class="m-auto fw-bold text-white">ENSEIGNANTS DEMANDANT UN NOUVEAU MOT DE PASSE</h4>
        </div>
      </div>
      <div class="container-fluid overflow-auto">
        <table class="table table-bordered table-dark text-center">
          <thead>
            <tr>
              <th>N*</th>
              <th>Nom & Prenom (s)</th>
              <th>Numero D'identification</th>
              <th>Message</th>
              <th>Date de Demande</th>
              <th>Reinitialisé</th>
            </tr>
          </thead>
          <tbody>
            <input type="hidden" name="id" value="" id="id_hid">
            <input type="hidden" name="active" value="" id="id_active">
            {% for user,demande in demandes %}
              <tr id="{{teacher.username}}">
                <td class="nbrP"></td>
                <td>{{ user.first_name }} {{ user.last_name }}</td>
                <td>{{ user.username }}</td>
                <td>{{ demande.message }}</td>
                <td>{{ demande.date|timesince }}</td>
                <td class="text-center">
                  <button title="Validé" data-bs-toggle="modal" data-bs-target="#resetPass" type="button" name="button" class="btn btn-success mx-2 edit_btn" data-id="{{ user.id }}" data-name="{{ user.first_name }} {{ user.last_name }}" data-nom="{{ user.first_name }}" data-prenom="{{ user.last_name }}" data-user-id="{{ user.username }}"><i class="fa fa-check"></i> </button>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
<script type="text/javascript">
  $('#customModal').detach();
  $('.okRestorMdpLabel').click();
  $('.nbrP').each(function(px,el){$(el).text(px+1)});
</script>
{% endblock Page %}
