{% extends 'index.html' %}
{% block Title %}MOT DE PASSE {{ userx.first_name|upper }} {{ userx.last_name|upper }}{% endblock Title %}
{% block Page %}
<main class="">
  <div class="w-100">
    <div class="w-50 mx-auto py-5 flag">
      <div class="bg-flag br10 p-3 text-center">
        <h3 class="m-auto fw-bold text-white">SESSION SURVEILLANT</h3>
      </div>
    </div>
    <div class="w75 br10 border-bass mx-auto my-3 p-4 overflow-hidden">
      <div class="py-5">
        <div class="bg-flag p-3 text-center">
          <h4 class="m-auto fw-bold text-white">REINITILISATION MOT DE PASSE DE {{ userx.first_name|upper }} {{ userx.last_name|upper }}</h4>
        </div>
      </div>
      <div class="container-fluid overflow-auto">
        <form class="" action="{% url 'validePassword' %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="id_user" value="{{ userx.id }}">
          <input type="hidden" name="page" value="detail">
          <div class="input-group input-group-lg my-4 dis4">
            <label for="id_idD" class="input-group-text">ID</label>
            <input type="text" name="username" placeholder="ID..." class="form-control" value="{{ userx.username }}" style="height:60px" id="id_idD" disabled autocomplete="off">
            <label for="id_mdp" class="input-group-text">Password</label>
            <input type="password" name="mdp" placeholder="Password..." class="form-control" id="id_mdp" autocomplete="off">
            <button type="button" name="button" class="btn btn-dark input-group-btn gener">GENERER</button>
          </div>
          <div class="input-group input-group-lg my-4">
            <label for="id_nom" class="input-group-text">Nom </label>
            <input type="text" name="nom" placeholder="Nom..." class="form-control" disabled value="{{ userx.first_name }}" style="height:60px" id="id_nom">
            <label for="id_prenom" class="input-group-text">Prenom </label>
            <input type="text" name="prenom" placeholder="Prenom..." class="form-control" value="{{ userx.last_name }}" style="height:60px" id="id_prenom" disabled>
          </div>
          <div class="">
            <small class="form-text w-100 mt-2" id="RemarqueHelp"><i class="fa fa-info-circle"></i>&nbsp; Une fois Reinitialisé,le mot de passe sera envoyer au email fournit par l'enseignant lors de la formulation de la demande</small>
          </div>
          <div class="text-center my-3">
            <button type="submit" name="button" class="btn btn-dark w-50 fw-bold py-2">ENREGISTRER</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
<script type="text/javascript">
  $('#customModal').detach();
  $('.okRestorMdpLabel').click();
</script>
{% endblock Page %}
